@media (prefers-color-scheme: light) {

body { background-color: white; } 

h1, h2, h3, h4, h5, h6, p, li, td
{
color: #663399;
}

a:link, a:visited, a:active {
color: #0000FF;
}

a:hover {
background: #CCCCFF;
}

}

@media (prefers-color-scheme: dark) {

body { background-color: black; } 

h1, h2, h3, h4, h5, h6, p, li, td
{
color: Sienna;
}

a:link, a:visited, a:active {
color: Peru;
}

a:hover {
background: Maroon;
}

}

/* Simple CSS for CoolFiles! */
h1, h2, h3, h4, h5, h6, p, li, td
{
font-family: verdana, arial, 'sans serif';
}

h1 {font-size: 120%}
h2 {font-size: 110%}
h3 {font-size: 100%}

a.redlink:link {
color: #ff0000;
}

.main-table,
.main-table > tbody > tr > th,
.main-table > tbody > tr > td {
        border: 1px solid gainsboro;
        border-collapse: collapse;
}

.main-table > tbody > tr > th,
.main-table > tbody > tr > td {
	padding: 15px;
}

.gitlab-logo {
	width: 16px;
	height: 16px;
	margin-right: .25rem;
}
